{% extends 'base.html.twig' %}

{% block alertContainer %}
    {% if messages['success'] is defined %}
        {% for message in messages['success'] %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if messages['success'] is not defined %}
        {{ form(form) }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/app.js"></script>
{% endblock %}